<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi ?>
<!-- ProgramFilesFolder = C:\Program Files (x86) -->
<!-- ProgramFiles64Folder = C:\Program Files -->
<!-- ProgramMenuFolder = C:\ProgramData\Microsoft\Windows\Start Menu -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
             Name="MassCopy"
             Language="1033"
             Version="1.0"
             Manufacturer="Aegis Technologies"
             UpgradeCode="BDB86B53-D617-4FE1-B0DC-D8B9F7713D88">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of MassCopy is already installed." />
		<Media Id="1" Cabinet="MassCopy.cab" EmbedCab="yes"/>
		
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)Resources\LICENSE.rtf" />
		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch MassCopy" />
		<Property Id="WixShellExecTarget" Value="[#MassCopy.exe]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="ExitDialog"
			         Control="Finish" 
			         Event="DoAction" 
			         Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>

		<Directory Id="TARGETDIR" Name="SourceDir"> <!-- ! -->
			<Directory Id="ProgramFiles64Folder"> <!-- C:\Program Files -->
				<Directory Id="INSTALLFOLDER" Name="MassCopy"/>
			</Directory>
			<Directory Id="ProgramMenuFolder"> <!-- C:\ProgramData\Microsoft\Windows\Start Menu -->
				<Directory Id="StartMenuFolder" Name="MassCopy"/> <!-- Doesn't actually make a folder, why? -->
			</Directory>
		</Directory>

		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="Exe" Guid="3D328310-23BF-4C86-B6AA-99A7615F68E3">
				<File Id="MassCopy.exe" Source="$(var.Bin)\MassCopy.exe" KeyPath="yes" Checksum="yes">
					<Shortcut Id="StartMenuShortcut" 
					          Name="MassCopy" 
					          Advertise="yes"
					          Description="Starts MassCopy"
					          Directory="StartMenuFolder"
					          WorkingDirectory="INSTALLFOLDER"/>
				</File>
				<!-- As of 2018-08-19, can't get start menu shortcut to go in subfolder like every other program, nor is 
					uninstall working properly. Have to uninstall using "Add or remove programs" rather than generated installer. -->
			</Component>
			<Component Id="License" Guid="69E4D141-1EBA-4EFA-A44D-21B9E76D8B0C">
				<File Id="LICENSE" Source="$(var.Root)\LICENSE" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<Feature Id="MainApplication"
		         Title="MassCopy" 
		         Level="1"
		         AllowAdvertise="yes"
		         ConfigurableDirectory="INSTALLFOLDER">
		         <!--TypicalDefault="advertise"-->
			<ComponentRef Id="Exe" />
			<ComponentRef Id="License" />
		</Feature>
	</Product>

	<!-- From "Getting Started" example -->
	<!--<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MassCopy" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
		    <File Source="$(var.MassCopy.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>-->
	<!-- End -->

</Wix>